body {
    padding: 10%;
    font-family: 'Montserrat', sans-serif;
}

.Section__title {
    font-family: 'Futura PT', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #3F3F3F;
}

.MediumsSection__button {
    margin-top: 1rem;
    padding: 1rem;
    color: black;
    background-color:#FFB71B;
    border: 0;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    color: #3C3F42;
}

.img__titleGroup {
    margin-top: 6px;
}

.Medium__img {
    border-radius: 3px;
}

.iconify {
    margin-left: 4px;
}